@media screen and (min-width: 640px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 1rem;
    }

    #members.grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 900px) {

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .card:hover {
        transform: scale(1.03);
        transition: 0.3s;
    }

    main {
        padding: 2rem;
    }

}

@media (min-width: 768px) {
    .spotlights {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
.join-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}
@media (min-width: 641px) {
    .discover-grid {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        max-width: 1100px;
        /* matches your main content */
        padding: 0;
        /* remove extra padding */
    }
}

@media (min-width: 1025px) {
    .discover-grid {
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
        max-width: 1200px;
    }
}

@media (min-width:1025px) {

    .discover-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}