@media (min-width: 700px) {

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    main {
        max-width: 900px;
        margin: auto;
    }

    .top-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}