body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
    background: #f8f8f8;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

header {
    background: #222;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
}



nav {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 4px;
    transition: 0.2s;
}

nav a:hover {
    background: #444;
}

nav a.active {
    background: #ffffff;
    color: #222;
    font-weight: bold;
}

#menuBtn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

input,
textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

#menuContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}
.food-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.food-card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#menuBtn {
    display: none;
}

@media (max-width:768px) {

    #menuBtn {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
    }

    nav {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    nav.open {
        display: flex;
    }

}
